*{
	margin: 0;
	padding: 0;
}

.foto{
	max-width: 20%;
	padding: 2%
}
.img-foto{
	display: flex;
	justify-content: center;
}
.dettagli{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
h1{
	text-align: center;
}